body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background-image: url("../images/GreyMarble.jpg");
}

* {
    box-sizing: border-box;
}


/* general styling */
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto; 
    clear: both; 
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: 700; 
    color: #4aaaa5;
}

h2, h3 {
    font-size: 22px; 
}


/* header styling */
.master-header {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px; 
    overflow: auto;
    color: #ffffff;
    background: #ffffff; 
    border-bottom: 2px solid #cccccc; 
}

#logo {
    float: left; 
    width: 250px;
    height: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 30px; 
    font-weight: 700;
    line-height: 90px;
    color: #ffffff; 
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
}

nav a:first-child {
    border-left: none;
}


/* footer styling */














.container-inner {
    width: 80%;
    margin: 0 auto;
}

.headline {
    background-color: white;
    width: 960px;
    margin: 0 auto;
}

.headline-inner {
    text-align: center;
    overflow: auto;
    margin: 0 auto;
}

.headline-innerleft {
    float: left;
}

.headline-name {
    float: left;
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
}

.headline-innerright {
    float: right;
}

.headline-nav {
    float: right;
    background: white;
    border: 1px solid rgb(119, 119, 119);
}

.headline-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navlink {
    float: left;
    margin-left: none;
    display: inline;
    border-right: 1px solid grey;
}

.navlink a {
    display: block;
    color: grey;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

.navlink:last-child {
    border-right: none;
}

.navlink a:hover {
    background-color: #005c5f;
}

.bottomsection {
    margin-top: 30px;
    width: 960px;
    margin: 0 auto;
}

.panel {
    background-color: white;
    border: 1px solid grey;
    padding: 0px 20px 20px 20px;
}

.panel-headline {
    color: #4aaaa5;
}

footer {
    position: fixed;
    left: 0; 
    bottom: 0; 
    width: 100%; 
    background-color: grey;
    color: white;
    text-align: center;
    border-top: 5px solid #4aaaa5;
}

/* index.html styling */

.mepic {
    width: 35%;
    height: auto;
    float: left;
    margin: 5px 20px 10px 5px;
}

/* contact.html styling */
.textbox {
    width: 100%;
    margin: 5px;
}

#textboxmsg {
    padding: 80px 0px;
}

/* portfolio.html styling */
.proj-list {
    padding: 0px;
    margin: 0px; 
}

#proj-item1 {
    list-style: none; 
    float: left; 
    width: 200px; 
    height: 200px;  
    background-image: url("../images/port1.jpeg");
    margin: 40px 40px 0px 55px;
}

#proj-item2 {
    list-style: none; 
    float: left; 
    width: 200px; 
    height: 200px; 
    background-image: url("../images/port2.jpeg");
    margin: 40px 40px 0px 55px;
}

#proj-item3 {
    list-style: none; 
    float: left; 
    width: 200px; 
    height: 200px; 
    background-image: url("../images/port3.jpeg");
    margin: 40px 40px 0px 55px;
}

#proj-item4 {
    list-style: none; 
    float: left; 
    width: 200px; 
    height: 200px; 
    background-image: url("../images/port4.jpeg");
    margin: 40px 40px 0px 55px;
}

#proj-item5 {
    list-style: none; 
    float: left; 
    width: 200px; 
    height: 200px; 
    background-image: url("../images/port5.jpeg");
    margin: 40px 40px 0px 55px;
    position
}

.projtitle {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #4aaaa5;
    text-align: center;
}