/* general styling */
body {
    background-image: url("../images/GreyMarble.jpg");
}

.container {
    width: 100%;
}

.container-inner {
    width: 80%;
    margin: 0 auto;
}

.headline {
    background-color: white;
    width: 960px;
    margin: 0 auto;
}

.headline-inner {
    text-align: center;
    overflow: auto;
    margin: 0 auto;
}

.headline-innerleft {
    float: left;
}

.headline-name {
    float: left;
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
}

.headline-innerright {
    float: right;
}

.headline-nav {
    float: right;
    background: white;
    border: 1px solid rgb(119, 119, 119);
}

.headline-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navlink {
    float: left;
    margin-left: none;
    display: inline;
    border-right: 1px solid grey;
}

.navlink a {
    display: block;
    color: grey;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

.navlink:last-child {
    border-right: none;
}

.navlink a:hover {
    background-color: #005c5f;
}

.bottomsection {
    margin-top: 30px;
    width: 960px;
    margin: 0 auto;
}

.panel {
    background-color: white;
    border: 1px solid grey;
    padding: 0px 20px 20px 20px;
}

.panel-headline {
    color: #4aaaa5;
}

footer {
    position: fixed;
    left: 0; 
    bottom: 0; 
    width: 100%; 
    background-color: grey;
    color: white;
    text-align: center;
    border-top: 5px solid #4aaaa5;
}

/* index.html styling */

.mepic {
    width: 35%;
    height: auto;
    float: left;
    margin: 5px 20px 10px 5px;
}

/* contact.html styling */
.textbox {
    width: 100%;
    margin: 5px;
}

#textboxmsg {
    padding: 80px 0px;
}

/* portfolio.html styling */
.proj-list {
    padding: 0px;
    margin: 0px; 
}

#proj-item1 {
    list-style: none; 
    float: left; 
    width: 200px; 
    height: 200px;  
    background-image: url("../images/port1.jpeg");
    margin: 40px 40px 0px 55px;
}

#proj-item2 {
    list-style: none; 
    float: left; 
    width: 200px; 
    height: 200px; 
    background-image: url("../images/port2.jpeg");
    margin: 40px 40px 0px 55px;
}

#proj-item3 {
    list-style: none; 
    float: left; 
    width: 200px; 
    height: 200px; 
    background-image: url("../images/port3.jpeg");
    margin: 40px 40px 0px 55px;
}

#proj-item4 {
    list-style: none; 
    float: left; 
    width: 200px; 
    height: 200px; 
    background-image: url("../images/port4.jpeg");
    margin: 40px 40px 0px 55px;
}

#proj-item5 {
    list-style: none; 
    float: left; 
    width: 200px; 
    height: 200px; 
    background-image: url("../images/port5.jpeg");
    margin: 40px 40px 0px 55px;
    position
}

.projtitle {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #4aaaa5;
    text-align: center;
}